<%= form_for @question, html:{class:"custom"} do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="small-8 columns">
    <%= f.label "Title" %><br />
    <%= f.text_field :qTitle %>
  </div>
  <% if !@question.version.nil? %>
  <div class="small-4 columns">
    <%= f.label "Version" %><%= @question.version %>
  </div>
    <% if ((can? :approve, @question) && (@question.version > 1)) %>
        <div class="small-4 columns">
          <%= link_to "Revert", revert_question_path(@question) %>
        </div>
      <% end %>
  <% end %>
  </div>
    <% if can? :approve, @question %>
      <div class = "row" id="qStatusField">
        <div class = "small-8 columns">
        <%= f.label "Status" %><%= select "question", "status", %w[Public Private Submitted], :include_blank=> true %>
      </div>
      </div>
      <% end %>
  <div class="row">
  <div class="small-12 rows">
    <%= f.label "Question" %><br />
    <%= f.text_area :qText %>
  </div>
  </div>
        <h4>Industries</h4>  <br/>
    <div class="row">
        <div class="small-12 columns">
            <% Industry.all.each do |industry| %>
              <%=  hidden_field_tag "question[industry_ids][]", nil %>
              <label for=" <%=dom_id(industry) %>" >
                <%=  check_box_tag "question[industry_ids][]", industry.id, @question.industries.include?(industry) %>
                <%= industry.indName %>
              </label>
          <% end %>

         </div>
          </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
