<h1>Administration</h1>
<br/>
<br/>
<fieldset>
  <legend>Send Announcement</legend>
<%= form_tag system_announcement_path, method: :post do %>
  <div class="row">
    <div class="small-8 columns">
    <%=  label_tag :subject %>
    <%=  text_field_tag :subject, params[:subtext] %>
   </div>
  </div>
  <div class = "row">
  <div class = "small-12 columns">
    <%= label_tag :announcement %><br/>
    <%= text_area_tag :announcement, params[:announcetext], size: "55 x 10" %>
  </div>
  </div>
  <div class="actions"><%= submit_tag "Send Announcement" %></div>
</fieldset>
<% end %>