<%= form_for(@requirement) do |f| %>
  <% if @requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% @requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "row">
    <div class="small-8 columns">
     <%= f.label "Category"%><%=  collection_select :requirement, :category_id, Category.all, :id, :catName, :include_blank=> true %>
    </div>
  <% if can? :approve, @requirement %>
  <div class = "small-8 columns" id="reqStatusField">
    <%= f.label "Status" %><%= select "requirement", "status", %w[Public Rejected Submitted], :include_blank=> true %>
  </div>
  <% end %>
</div>
 <div class="row">
  <div class="small-12 columns">
    <%= f.label "Title" %><br />
    <%= f.text_field :reqTitle %>
  </div>
 </div>
 <div class="row">
    <% if can? :create, @requirement %>
           <% if (@requirement.status == 'Private') and (@requirement.source_id.nil?) %>
                <div class ="small-14 columns">
                    <%=  check_box_tag "Submit_for_Approval"%> Submit for Approval
                </div>
           <% end %>
          <% end %>
 </div>
 <div class="row">
  <div class="small-12 columns">
    <%= f.label "Requirement Text" %><br />
    <%= f.text_area :reqText %>
  </div>
 </div>
  <div class="row">
    <div class="small-12 columns">
    <h4>Industries</h4> <br/>
        <% Industry.all.each do |industry| %>
          <%=  hidden_field_tag "requirement[industry_ids][]", nil %>
          <label for=" <%=dom_id(industry) %>" >
            <%=  check_box_tag "requirement[industry_ids][]", industry.id, @requirement.industries.include?(industry) %>&nbsp<%= industry.indName %>
          </label>
        <% end %>
      </div>
    </div>
  <div class="row">
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
