<%= form_for(@user_question) do |f| %>
  <% if @user_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_question.errors.count, "error") %> prohibited this user_question from being saved:</h2>

      <ul>
      <% @user_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <br/>
  <div class="row">
  <div class = "small-8 columns">
    <%= f.label "Title"%><%= f.text_field :qTitle %><br/>
 </div></div>
  <div class="row">
  <div class="small-12 columns">
    <%= f.text_area :qText %><br/>
  </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
            <h4>Industries</h4> <br/>
                <% Industry.all.each do |industry| %>
                  <%=  hidden_field_tag "user_question[industry_ids][]", nil %>
                <label for=" <%=dom_id(industry) %>" >
                  <%=  check_box_tag "user_question[industry_ids][]", industry.id, @user_question.industries.include?(industry) %>&nbsp<%= industry.indName %>
                </label>
                <% end %>
              </div>
  </div>
  <div class="row">
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
