
<br/>
<br/>
<fieldset>
  <legend>
    New User
  </legend>

<%= form_tag "/auth/identity/register" do %>
  <% if @user && @user.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="small-12 columns">
    <%= label_tag :name %><br>
    <%= text_field_tag :name, @user.try(:name) %>
  </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
    <%= label_tag :email %><br>
    <%= text_field_tag :email, @user.try(:email) %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
    <%= label_tag :password_confirmation %><br>
    <%= password_field_tag :password_confirmation %>
  </div>
  </div>
  <div class="row">


  <div class="actions"><%= submit_tag "Register" %></div>
  </div>
<% end %>
</fieldset>
<%= link_to 'Back', users_path %>
