<p id="notice"><%= notice %></p>

<p>
  <b>Organization:</b>
  <%= @response.organization_id %>
</p>

<p>
  <b>Organization:</b>
  <%= @response.organization_id %>
</p>

<p>
  <b>Requirement:</b>
  <%= @response.requirement_id %>
</p>

<p>
  <b>Question:</b>
  <%= @response.question_id %>
</p>


<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
