<%= form_for(@user_requirement) do |f| %>
  <% if @user_requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_requirement.errors.count, "error") %> prohibited this user_requirement from being saved:</h2>

      <ul>
      <% @user_requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <br/>
    <div class="row">
     <div class="small-8 columns">
      <%= f.label "Category"%><%=  collection_select :user_requirement, :category_id, Category.all, :id, :catName, :include_blank=> true %>
     </div>
    </div>
        <div class="row">
          <div class="small-8 columns">
            <%= f.label "Title" %><br />
            <%= f.text_field :req_title %>
        </div>
        </div>
        <div class="row">
          <div class="small-12 columns">

                    <%= f.label "Requirement" %><br />
                    <%= f.text_area :req_text %>
         </div>
        </div>
    <div class="row">
      <div class="small-12 columns">
        <h4> Industries</h4>  <br/>
            <% Industry.all.each do |industry| %>
              <%=  hidden_field_tag "user_requirement[industry_ids][]", nil %>
              <label for=" <%=dom_id(industry) %>" >
              <%=  check_box_tag "user_requirement[industry_ids][]", industry.id, @user_requirement.industries.include?(industry) %>
              <%= industry.indName %>
              </label>
            <% end %>
          </div>
    </div>
  <div class="row">
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
